{% extends 'base.html' %}
{% load group_tags %}
{% block content %}
<main>
    <h1>Grupo {{ detail_g.name }}</h1>
    <a href="{% url 'groups:list_groups' %}">Voltar</a>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div id="alert-div" class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <ul>
        <h3>Permissões Concedidas</h3>
        {% for permission in detail_g.permissions.all %}
            <li>{{permission}}</li>
        {% endfor %}
        {% if user.is_staff and user.is_authenticated and user.is_superuser %}
            <a href="{% url 'groups:update_group' pk=object.pk %}">Editar</a>
            <form action="{% url 'groups:delete_group' pk=object.pk %}" method="post" onsubmit="return confirmDeleteGroup()">
                {% csrf_token %}
                <button type="submit">Excluir</button>
            </form>
        {% endif %}
        <br>
        <hr>
        {% if user.is_authenticated and user|is_group and user.is_superuser or user.is_staff %}
            <div id="group-info">
                <p><strong>Nome:</strong> {{ detail_g.name }}</p>
                <button id="edit-button" onclick="showForm()">Editar</button>
            </div>
            <form id="edit-form" method="post" action="{% url 'permissions:update_name_group' pk=object.pk %}" style="display: none;" onsubmit="return confirmUpdateNameGroup()">
                {% csrf_token %}
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" value="{{ detail_g.name }}">
                <button type="submit">Alterar</button>
            </form>
        {% endif %}
    </ul>
    <ul>
        <hr>
        <h3>Usuários no Grupo</h3>
        {% if user.is_authenticated and user|is_group and user.is_superuser or user.is_staff %}
            {% for user in detail_g.user_set.all %}
                <p>Usuário: {{user}}</p>
                <form action="{% url 'permissions:remove_user_group' pk=user.pk %}" method="post" onsubmit="return confirmDeleteUserGroup()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.pk }}">
                    <button type="submit">Excluir</button>
                </form>
                <br>
            {% endfor %}
        {% else %}
            {% for user in detail_g.user_set.all %}
                <p>Usuário: {{user}}</p>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated and user|is_group and user.is_superuser or user.is_staff %}
            <a href="{% url 'permissions:add_user_group' pk=object.pk %}">Adicionar Usuário</a>
        {% endif %}
        <hr>
        <div id="group-info">
            <p>Admin: {{ user }}</p>
        </div>
        {% if user.is_authenticated and user|is_group and user.is_superuser or user.is_staff %}
            <form action="{% url 'permissions:remove_admin_group' pk=object.pk %}" method="post" onsubmit="return confirmDeleteAdminGroup()">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.pk }}">
                <button type="submit">Remover Admin</button>
            </form>
        {% endif %}
        <br>
    </ul>
</main>
{% endblock %}