{% extends 'base.html' %}
{% block content %}
{% load user_tags %}
<main>
    {% if user.is_staff and user.is_authenticated and user.is_superuser %}
        <h1>Listar Grupos</h1>
        <ul>
            {% if user.is_staff and user.is_authenticated and user.is_superuser %}
                <a href="{% url 'groups:create_group' %}">Criar</a>
            {% endif %}
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div id="alert-div" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% for group in groups_list %}
                <li>{{ group.name }}</li>
                <a href="{% url 'groups:detail_group' pk=group.pk %}">Detalhar</a>
                <hr>
            {% endfor %}
        </ul>
    {% elif user.is_authenticated and user|is_in_group %}
        {% for group in groups_list %}
            <li>{{ group.name }}</li>
            {% if user.is_authenticated and user|is_in_group %}
                <a href="{% url 'groups:detail_group' pk=group.pk %}">Detalhar</a>
            {% endif %}
            <hr>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}