{% extends 'base.html' %}
{% block content %}
{% load group_tags %}
<main>
    {% if user.is_staff and user.is_authenticated and user.is_superuser %}
        <h1>Listar Grupos</h1>
        <ul>
            <a href="{% url 'groups:create_group' %}">Criar</a>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <div id="alert-div" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% for group in groups_list %}
                <li>{{ group.name }}</li>
                <a href="{% url 'groups:detail_group' pk=group.pk %}">Detalhar</a>
                <hr>
            {% endfor %}
        </ul>
    {% elif user.is_authenticated %}
        <h2>Listar de Editores</h2>
        {% if messages %}
                {% for message in messages %}
                    <div id="alert-div" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% for group in groups_list %}
            <li>{{ group.name }}</li>
            <a href="{% url 'permissions:asked_participate_email_group' %}?group_name={{ group.name }}">Pedir Para Entrar</a>
            {% if user.is_authenticated and user|is_in_group:group.name %}
                <a href="{% url 'groups:detail_group' pk=group.pk %}">Detalhar</a>
            {% endif %}
            <hr>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}