{% extends 'base.html' %}
{% block content %}
{% load group_tags %}
<main class="container py-4">
    {% if user.is_staff and user.is_authenticated and user.is_superuser %}
        <div class="card mb-4">
            <div class="card-body">
                <h1 class="card-title display-4 mb-4">Lista de Grupos</h1>
                <a href="{% url 'groups:create_group' %}" class="btn btn-primary mb-3">Criar Novo Grupo</a>
                {% if messages %}
                    {% for message in messages %}
                        <div id="alert-div" class="alert alert-{{ message.tags }} mb-3">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <ul class="list-group">
                    {% for group in groups_list %}
                        <li class="list-group-item">{{ group.name }}</li>
                        <a href="{% url 'groups:detail_group' pk=group.pk %}" class="btn btn-info btn-sm mt-2">Detalhar Grupo</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% elif user.is_authenticated %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title display-4 mb-4">Lista de Editores</h2>
                {% if messages %}
                    {% for message in messages %}
                        <div id="alert-div" class="alert alert-{{ message.tags }} mb-3">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    {% for group in groups_list %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ group.name }}</h5>
                                    {% if user.is_authenticated and user|is_in_group:group.name %}
                                        <a href="{% url 'groups:detail_group' pk=group.pk %}" class="btn btn-success btn-sm mt-2">Entrar</a>
                                    {% else %}
                                        <a href="{% url 'permissions:asked_participate_email_group' %}?group_name={{ group.name }}" class="btn btn-warning btn-sm mt-2">Pedir Para Entrar</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% endblock %}
