{% extends 'base.html' %}   
{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <div class="card-body">
            {% if user.is_authenticated %}
                <h1 class="text-center">deletar Conta</h1>
                <strong>Conta: </strong>{{object}}<br>
                <strong>Você Realmente deseja apagar a sua conta Permanentemente ?</strong>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <center>
                        <button class="btn btn-success" type="submit">Excluir</button>
                        <button class="btn btn-secondary" type="button" onclick="history.back()">Cancelar</button>
                    </center>
                </form>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
