{% extends 'base.html' %}   
{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center">
        <div class="card-body" >
            <h2 class="card-title">Login</h2>
            {% if messages %}
              {% for message in messages %}
                <li class="{{ message.tags }}">{% if message.tags == "error" %}<strong>Erro:</strong> {% endif %}{{ message }}</li>
              {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <br><br>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <a href="{% url 'accounts:recover_password' %}">Esqueceu sua senha?</a>
                <br>
                <a href="{% url 'accounts:create_user' %}">Criar Conta</a>
            </form>
        </div>
    </div>
</main>
{% endblock %}