{% extends 'base.html' %}

{% block container %}
<div class="container">
  {% if validlink %}
  <div class="text-center">
    <h2>Redefinir Senha</h2>
    <form method="POST" class="table" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{form}}
      </div>
      <br><br>
      <div class="text-center">
        <button id="inss" type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </form>
  </div>
  {% else %}
  <div class="text-center">
    <p>O link de redefinição de senha está inválido, possivelmente porque já foi usado.</p>
    <p>Solicite uma nova redefinição de senha.</p>
  </div>
  {% endif %}
</div>
{% endblock %}
