{% extends 'base.html' %}   
{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Trocar Senha</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <br>
                <button class="btn btn-success" type="submit">Salvar</button>
                <button class="btn btn-secondary" type="button" onclick="history.back()">Cancelar</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
