{% extends 'base.html' %}   
{% block content %}
<main>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {% if perfil.perfil %}
                            <img class="card-img" src="{{perfil.perfil.url}}" alt="Foto de Perfil" height="300px" width="350px"><br>
                        {% else %}
                            Foto de Perfil Não Adicionado(a)<br>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <b>Nome:</b> 
                                {% if perfil.name %}
                                    {{perfil.name}}<br>
                                {% else %}
                                    Não Informado<br>
                                {% endif %}
                                <b>E-mail:</b> {{perfil.email}}
                            </div>
                        </div>
                        <br>
                        <a href="{% url 'accounts:update_user' %}" class="btn btn-primary">Editar Perfil</a>
                        <a href="{% url 'accounts:delete_user' %}" class="btn btn-primary">Excluir Conta</a>
                        <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary">Mudar Senha</a>
                    </div>
                </div>
                <hr>
                <center>
                    <h3>Livros Favoritos</h3>
                </center>
                <div class="row">
                    {% for favority in list_favoritys %}
                        <div class="col-md-4">
                            <a href="{% url 'detail_book' pk=favority.book.pk %}">
                                <img src="{{favority.book.cape.url}}" class="card-img" alt="Capa do Livro" height="300px" width="350px">
                            </a>
                            <br>
                            {{favority.book}}
                            <a href="{% url 'delete_favority' pk2=favority.pk %}" class="btn btn-danger btn-sm">Remover dos Favoritos</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
