<div>
<div>
  <div> 
    <div>
     
      <div><br>
        <h5 id="text_user">Insira seu email válido abaixo para o envio de um link de redefinição de sua senha.</h5>
      </div> 
        {% for error in form.non_field_errors %}
                  <div>
                      {{ error }}
                  </div>
        {% endfor %}
    </div>  
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="exampleInputEmail1">E-mail:</label>
            <input name="email" type="email" required id="formu">
        </div><br><br>
        <div>
            <div>
              <div id="buto1">
                  <a id="resetp" href="{% url 'accounts:login_user' %}">Voltar</a><button id="inss" type="submit">Enviar
                  </button><br>
              </div>
           </div>
         </div>
    </form><br><br>
    <div>
      <div>
       
      </div>
    </div>
  </div>
</div>
