{% extends 'base.html' %}   
{% block content %}
<main>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{book.cape.url}}" class="card-img" alt="Capa do Livro">
                    </div>
                    <div class="col-md-8">
                        <h2>{{book.title}}</h2>
                        {% for autor in book.author.all %}
                            <p><b>Autor:</b> {{autor.name}}</p>
                        {% endfor %}
                        {% for genero in book.gender.all %}
                            <p><b>Gênero:</b> <button class="btn btn-primary disabled" type="button">{{genero}}</button></p>
                        {% endfor %}
                        <b>Quantidade de downloads </b> {{book.quant_downloads}}<br>
                        <b>Curtidas</b> {{book.quant_like}}
                        <br>
                        {% if user.is_authenticated %}
                            <a href="{% url 'like_book' pk=book.pk %}"><button class="btn btn-primary" type="button">Curtir</button></a>
                        {% endif %}
                        <div class="table-responsive">
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col"><b>Sinopse:</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{book.sinopse}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p><b>Ano de Publicação:</b> {{book.year_publication}}</p>
                        {% if user.is_authenticated %}
                            <a id="downloads" href="{{book.book.url}}" class="btn btn-primary" download> Baixar Livro</a>
                            <script>
                            var downloads = document.getElementById('downloads');
                            downloads.addEventListener('click', function() {
                                window.location.href = "{% url 'count_downl' pk=book.pk %}";
                            });
                            </script>
                        {% endif %}
                        <div>
                    </div>
                    </div>
                    <hr>
                    <h2>Comentar</h2>
                    <form id="responseFormulario" method="post" action="{% url 'create_comment' pk=book.pk %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" name="comment" id="comment" class="form-control" placeholder="Junte-se ao Debate...">
                            <button class="btn btn-success" type="submit">Enviar</button>
                            <a href="{% url 'detail_book' pk=book.pk %}" class="btn btn-secondary" role="button">Cancelar</a>
                        </div>
                    </form>
                    {% for comment in list_comment %}
                        {% if not comment.parent_comment %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="d-flex align-items-start mb-2">
                                        <div class="rounded-circle bg-secondary p-2 mr-2">
                                            {% if comment.author.perfil %}
                                                <img src="{{ comment.author.perfil.url }}" alt="foto de perfil" width="50" height="50" class="rounded-circle">
                                            {% endif %}
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title">{{ comment.author }}</h5>
                                                {% if user == comment.author %}
                                                    <a href="{% url 'delete_comment' pk=book.pk pk1=comment.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                                                {% endif %}
                                            </div>
                                            <p class="form-control">{{ comment.comment }}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="card-text">Publicado em {{ comment.year_publication }}</p>
                                            <p class="card-text">Curtidas: {{ comment.quant_like }}</p>
                                            {% if user.is_authenticated %}
                                                <a href="{% url 'add_like' pk1=comment.pk pk=book.pk %}" class="btn btn-primary">Curtir</a>
                                            {% endif %}
                                        </div>   
                                    </div>
                                </div>
                                
                            {% if comment.replies.all %}
                            <div class="card-footer">
                                {% for reply in comment.replies.all %}
                                <br>
                                <div class="d-flex align-items-start mb-2">
                                    <div>
                                        {% if reply.author.perfil %}
                                            <img src="{{ reply.author.perfil.url }}" alt="foto de perfil" width="50" height="50" class="rounded-circle">
                                        {% endif %}
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="card-title">{{reply.author}}</h5>
                                            {% if user == reply.author %}
                                                <a href="{% url 'delete_comment' pk=book.pk pk1=reply.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                                            {% endif %}
                                        </div>
                                        <p class="form-control">{{ reply.comment }}</p>
                                        <p class="card-text">Curtidas: {{ reply.quant_like }}</p>
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'add_like' pk1=reply.pk pk=book.pk %}" class="btn btn-primary">Curtir</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                            
                            {% endif %}
                                <form id="responseFormulario" method="post" action="{% url 'create_comment_response' pk1=comment.pk pk=book.pk %}">
                                    {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <input type="text" name="response_msg" id="response_msg" class="form-control" placeholder="Digite seu Comentário">
                                        <button class="btn btn-success" type="submit">Enviar</button>
                                        <a href="{% url 'detail_book' pk=book.pk %}" class="btn btn-secondary" role="button">Cancelar</a>
                                    </div>
                                </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
