{% extends 'base.html' %}
{% block content %}
<main>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{book.cape.url}}" class="card-img" alt="Capa do Livro">
                    </div>
                    <div class="col-md-8">
                        <div class="d-flex justify-content-end">
                            <a d="favoriteBtn" href="{% url 'add_favority' pk=book.pk %}">
                                <span id="favoriteBtn" class="far fa-star"></span>
                            </a>
                        </div>
                        <h2>{{book.title}}</h2>
                        {% for autor in book.author.all %}
                            <p><b>Autor:</b> {{autor.name}}</p>
                        {% endfor %}
                        <p><b>Gênero:</b>
                            {% for genero in book.gender.all %}
                                <button class="btn btn-primary disabled" type="button"> {{genero}}</button>
                            {% endfor %}
                            <br>
                            <b>Quantidade de downloads </b> {{book.quant_downloads}}<br>
                            <b>Curtidas</b> {{book.quant_like}}
                            <br>
                            {% if user.is_authenticated %}
                                <a href="{% url 'like_book' pk=book.pk %}">
                                    <span id="likeBtn" class="far fa-thumbs-up like-icon" style="font-size: 24px;"></span>
                                </a>
                            {% endif %}
                            <div class="table-responsive">
                                <br>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col"><b>Sinopse:</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{book.sinopse}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p><b>Ano de Publicação:</b> {{book.year_publication}}</p>
                            <a id="downloads" href="{{book.book.url}}" class="btn btn-primary"> Ler Livro</a>
                            {% if user.is_authenticated %}
                                <a id="count_downl" href="{{book.book.url}}" class="btn btn-primary" download> Baixar Livro</a>
                                <script>
                                    var count_downl = document.getElementById('count_downl');
                                    count_downl.addEventListener('click', function() {
                                        window.location.href = "{% url 'count_downl' pk=book.pk %}";
                                    });
                                </script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.worker.min.js"></script>
                                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf_viewer.min.css">
                                <script>
                                    var downloads = document.getElementById('downloads');
                                    downloads.addEventListener('click', function() {
                                        window.location.href = "{% url 'count_downl' pk=book.pk %}";
                                    });
                                    PDFJS.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.worker.min.js';
                                    var url = '{{book.book.url}}';
                                    PDFJS.getDocument(url).promise.then(function(pdf) {
                                        var pageNumber = 1;
                                        pdf.getPage(pageNumber).then(function(page) {
                                            var scale = 1.5;
                                            var viewport = page.getViewport({ scale: scale });

                                            var canvas = document.createElement('canvas');
                                            var context = canvas.getContext('2d');
                                            canvas.height = viewport.height;
                                            canvas.width = viewport.width;

                                            var container = document.createElement('div');
                                            container.appendChild(canvas);
                                            document.body.appendChild(container);

                                            var renderContext = {
                                                canvasContext: context,
                                                viewport: viewport
                                            };
                                            page.render(renderContext);
                                        });
                                    });
                                </script>
                            {% endif %}
                            <div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h2>Comentar</h2>
                    <form id="responseFormulario" method="post" action="{% url 'create_comment' pk=book.pk %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" name="comment" id="comment" class="form-control" placeholder="Junte-se ao Debate...">
                            <button class="btn btn-success" type="submit">Enviar</button>
                            <a href="{% url 'detail_book' pk=book.pk %}" class="btn btn-secondary" role="button">Cancelar</a>
                        </div>
                    </form>
                    {% for comment in list_comment %}
                        {% if not comment.parent_comment %}
                            <div class="card mb-3" style="background-color: #f0f0f0;">
                                <div class="card-body">
                                    <div class="d-flex align-items-start mb-2">
                                        <div class="rounded-circle bg-secondary p-2 mr-2">
                                            {% if comment.author.perfil %}
                                                <img src="{{ comment.author.perfil.url }}" alt="foto de perfil" width="50" height="50" class="rounded-circle">
                                            {% endif %}
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="card-title">{{ comment.author }}</h5>
                                                {% if user == comment.author %}
                                                    <a href="{% url 'delete_comment' pk=book.pk pk1=comment.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                                                {% endif %}
                                            </div>
                                            <p id="comment_text_{{ comment.pk }}" class="form-control">{{ comment.comment }}</p>
                                            {% if user == comment.author %}
                                                <div id="comment_{{ comment.pk }}">
                                                    <div id="edit_comment_{{ comment.pk }}" {% if not edit %}style="display: none;"{% endif %}>
                                                        <form id="editFormulario_{{ comment.pk }}" method="post" action="{% url 'update_comment' pk=book.pk pk1=comment.pk %}">
                                                            {% csrf_token %}
                                                            <div class="input-group mb-3">
                                                                {% if not edit %}
                                                                    <input type="text" name="edit_msg" id="edit_msg_input_{{ comment.pk }}" class="form-control" placeholder="{{ comment.comment }}">
                                                                {% endif %}
                                                                <button class="btn btn-success" type="submit">Salvar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <button class="btn btn-primary" id="edit_msg_{{ comment.pk }}" onclick="toggleEditForm('{{ comment.pk }}')">Editar</button>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="card-text">Publicado em {{ comment.year_publication }}</p>
                                            <p class="card-text">Curtidas: {{ comment.quant_like }}</p>
                                            {% if user.is_authenticated %}
                                                <a href="{% url 'add_like' pk1=comment.pk pk=book.pk %}">
                                                    <span id="likeBtn" class="far fa-thumbs-up like-icon" style="font-size: 24px;"></span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if comment.replies.all %}
                                <div class="card mb-3" style="background-color: #f0f0f0;"> <!-- Respostas -->
                                    <div class="card-body">
                                        {% for reply in comment.replies.all %}
                                            <div class="d-flex align-items-start mb-2">
                                                <div class="rounded-circle bg-secondary p-2 mr-2">
                                                    {% if reply.author.perfil %}
                                                        <img src="{{ reply.author.perfil.url }}" alt="foto de perfil" width="50" height="50" class="rounded-circle">
                                                    {% endif %}
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h5 class="card-title">{{ reply.author }}</h5>
                                                        {% if user == reply.author %}
                                                            <a href="{% url 'delete_comment' pk=book.pk pk1=reply.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                                                        {% endif %}
                                                    </div>
                                                    <p id="comment_text_{{ reply.pk }}" class="form-control">{{ reply.comment }}</p>
                                                    {% if user == reply.author %}
                                                        <div id="comment_{{ reply.pk }}">
                                                            <div id="edit_comment_{{ reply.pk }}" {% if not edit %}style="display: none;"{% endif %}>
                                                                <form id="editFormulario_{{ reply.pk }}" method="post" action="{% url 'update_comment' pk=book.pk pk1=reply.pk %}">
                                                                    {% csrf_token %}
                                                                    <div class="input-group mb-3">
                                                                        {% if not edit %}
                                                                            <input type="text" name="edit_msg" id="edit_msg_input_{{ reply.pk }}" class="form-control" placeholder="{{ reply.comment }}">
                                                                        {% endif %}
                                                                        <button class="btn btn-success" type="submit">Salvar</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <button class="btn btn-primary" id="edit_msg_{{ reply.pk }}" onclick="toggleEditForm('{{ reply.pk }}')">Editar</button>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <p class="card-text">Publicado em {{ reply.year_publication }}</p>
                                                    <p class="card-text">Curtidas: {{ reply.quant_like }}</p>
                                                    {% if user.is_authenticated %}
                                                        <a href="{% url 'add_like' pk1=reply.pk pk=book.pk %}">
                                                            <span id="likeBtn" class="far fa-thumbs-up like-icon" style="font-size: 24px;"></span>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <hr>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <form id="responseFormulario" method="post" action="{% url 'create_comment_response' pk1=comment.pk pk=book.pk %}">
                                {% csrf_token %}
                                <div class="input-group mb-3 ml-5">
                                    <input type="text" name="response_msg" id="response_msg" class="form-control" placeholder="Digite seu Comentário">
                                    <button class="btn btn-success" type="submit">Enviar</button>
                                    <a href="{% url 'detail_book' pk=book.pk %}" class="btn btn-secondary" role="button">Cancelar</a>
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}                    
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script>
    function toggleEditForm(commentId) {
        var commentText = document.getElementById("comment_text_" + commentId);
        var editForm = document.getElementById("edit_comment_" + commentId);
        var editButton = document.getElementById("edit_msg_" + commentId);

        if (commentText.style.display === "none") {
            commentText.style.display = "block";
            editForm.style.display = "none";
            editButton.innerHTML = "Editar";
        } else {
            commentText.style.display = "none";
            editForm.style.display = "block";
            editButton.innerHTML = "Cancelar";
        }
    };
    function generatePDF() {
        var element = document.getElementById("pdfContent");
        html2pdf().from(element).save();
    }
    document.getElementById('favoriteBtn').addEventListener('click', function() {
        if (this.classList.contains('far')) {
            this.classList.remove('far');
            this.classList.add('fas');
            this.classList.add('text-warning');
        } else {
            this.classList.remove('fas');
            this.classList.add('far');
            this.classList.remove('text-warning');
        }
    });
    document.getElementById('likeBtn').addEventListener('click', function() {
        // Verifique se o botão atualmente tem a classe 'far' (coração vazio)
        if (this.classList.contains('far')) {
            // Remova a classe 'far' (coração vazio)
            this.classList.remove('far');
            // Adicione a classe 'fas' (coração cheio)
            this.classList.add('fas');
            // Adicione a classe 'text-primary' para definir a cor vermelha
            this.classList.add('text-primary');
            // Adicione aqui a lógica para quando o botão de curtir for clicado
        } else {
            // Caso contrário, o botão atualmente tem a classe 'fas' (coração cheio)
            // Remova a classe 'fas' (coração cheio)
            this.classList.remove('fas');
            // Adicione a classe 'far' (coração vazio)
            this.classList.add('far');
            // Remova a classe 'text-primary' para voltar à cor padrão
            this.classList.remove('text-primary');
            // Adicione aqui a lógica para quando o botão de curtir for desmarcado
        }
    });
</script>
{% endblock %}
