{% extends 'base.html' %}   
{% block content %}
<main>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {% if perfil.perfil %}
                            <img class="card-img" src="{{perfil.perfil.url}}" alt="Foto de Perfil"><br>
                        {% else %}
                            Foto de Perfil Não Adicionado(a)<br>
                        {% endif %}
                        <b>Data de Criação</b>: {{perfil.data_entrada}}</p>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <b>Nome:</b> 
                                {% if perfil.user.name %}
                                    {{perfil.user.name}}<br>
                                {% else %}
                                    Não Informado<br>
                                {% endif %}
                                <b>Data de Nascimento</b>: 
                                {% if perfil.data_nascimento %}
                                    {{perfil.data_nascimento}}<br>
                                {% else %}
                                    Não Informado<br>
                                {% endif %}
                                <b>Sexo</b>:
                                {% if perfil.sexo %}
                                    {{perfil.sexo}}<br>
                                {% else %}
                                    Não Informado<br>
                                {% endif %}
                                <b>E-mail</b>: {{perfil.user.email}}
                            </div>
                        </div>
                        <br>
                        <a href="{% url 'update_user' %}" class="btn btn-primary"> Editar Perfil </a>
                        <a href="{% url 'delete_user' %}" class="btn btn-primary"> Excluir Conta </a>
                        <a href="#" class="btn btn-primary"> Mudar Senha </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
