{% extends 'base.html' %}   
{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="card text-center">
        <div class="card-body" >
            <h2 class="card-title">Login</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form}}
                <br><br>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}