{% extends 'base.html' %}
{% block content %}
    <h1>Detalhar Livro</h1>
    <ul>
        {% if messages %}
            {% for message in messages %}
                <div id="alert-div" class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <li>{{ detail_b.title }}</li>
        <img src="{{ detail_b.cape.url }}" alt="{{ detail_b.title }}">
        {{detail_b.sinopse}}
        {{detail_b.year_publication}}
        {{detail_b.quant_like}}
        {{detail_b.quant_downloads}}
        {% for author_b in detail_b.author.all %}
                {{author_b}}
        {% endfor %}
        {% for gender_b in detail_b.gender.all %}
                {{gender_b}}
        {% endfor %}
        {{detail_b.group}}
        <br>
        <a href="{% url 'publishers:update_book_publishers' pk=object.pk %}">Editar</a>
        <form action="{% url 'publishers:delete_book_publishers' pk=object.pk %}" method="post" onsubmit="return confirmDeleteBook()">
            {% csrf_token %}
            <button type="submit">Excluir</button>
        </form>
    </ul>
{% endblock %}