{% extends 'base.html' %}
{% load group_tags %}
{% block content %}
<main>
    {% if user.is_authenticated and user|is_group %}
            <h1>Listar Livros Da Editora: {% for grou in group.all %} {{grou}} {% endfor %}</h1> 
            <ul>
            <a href="{% url 'publishers:create_book' %}">Criar</a>
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div id="alert-div" class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% for books_p in books_list_publishers %}
                {% if user|is_in_group:books_p.group %}
                    <img src="{{ books_p.cape.url }}" alt="{{ books_p.title }}">
                    <li>{{ books_p.title }}</li>
                    {% for author in books_p.author.all %}
                        <li>{{ author }}</li>
                    {% endfor %}
                    <a href="{% url 'publishers:detail_book_publishers' pk=books_p.pk %}">Detalhar</a>
                    <hr>
                {% endif %}
            {% endfor %}
    {% endif %}
    </ul>   
</main>
{% endblock %}